{% extends 'monetizeyourself/base_pay.html' %}
<!DOCTYPE html>
{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    {% for post in posts %}
        {% if not post.is_free %}
            <div class="columns">
            <div class="column">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Image">
                            {% endif %}
                        </figure>
                    </div>

                    <div class="media-content">
                        <div class="content">

                            <p>
                                <small>
                                    {% if post.owner.nick_name %}
                                   written by @{{ post.owner.nick_name }}
                                {% endif %}
                                </small>
                                <br>
                                {{ post.text|truncatechars:100 }}
                            </p>
                        </div>
                        <a href="{% url 'monetizeyourself:post_detail' post.pk %}" class="button is-small">Смотреть</a>


                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item" aria-label="reply">
            <span class="icon is-small">
              <i class="fas fa-reply" aria-hidden="true"></i>
            </span>
                                </a>
                                <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
                                </a>
                                <a class="level-item" aria-label="like">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
        {% endif %}
    </div>
    </div>
    {% endfor %}
    </body>

    </html>

{% endblock %}

